@import '../../sass-styles/sass-styling.scss';

.save-btn {
    margin-right: 10px;
}

.header-div {
    padding: 22px 15px;
    background: linear-gradient(to right, #cc392f 0, #f44336 100%) !important;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
