<header>
    <div class="main-nav">
        <div class="float-left heading">
            <a class="navbar-brand infosys-brand d-inline-block"></a> 
            <img class="logo" src="/assets/images/fintech_logo.png">
            <!-- <span class="seperator d-inline-block">|</span> -->
            <span class="ibap-txt d-inline-block"><a routerLink="/">Accelerator Finance Management</a></span>
        </div>
        <div class="float-right">
            <ul class="list-inline nav-items-content">
                    <li class="list-inline-item"><a class="navbar-link" routerLink="/accountaggregator" (click)="scrollToElement('about')">Home</a>
                    </li>
                <li class="list-inline-item"><a class="navbar-link" routerLink="/accountaggregator" (click)="scrollToElement('about')">Products</a>
                </li>
                <!-- <li class="list-inline-item"><a class="navbar-link" routerLink="/home" (click)="scrollToElement('offerings')">Offerings</a>
                </li> -->
                <li class="list-inline-item"><a class="navbar-link active" routerLink="/accountaggregator" (click)="scrollToElement('demo')">Services</a>
                </li>
                <!-- <li class="list-inline-item"><a class="navbar-link" routerLink="/accountaggregator" (click)="scrollToElement('engagements')">Engagements</a></li>
                <li class="list-inline-item"><a class="navbar-link" routerLink="/accountaggregator" (click)="scrollToElement('team')">Meet the Team</a></li> -->
                <li class="list-inline-item"><a class="navbar-link" routerLink="/accountaggregator" (click)="scrollToElement('contact')">Contact Us</a></li>
                <li class="list-inline-item">
                        <!-- <span class="seperator d-inline-block">|</span> -->
                        <span class="navbar-link"><mat-icon class="iconalign">person</mat-icon>Mansi</span>
                </li>
            </ul>
            
        </div>

    </div>
</header>