// COLORS

// $color-white: #fff;
// $color-black: #000;
// $color-pink: #e65b7c;
// $color-red: rgba(255, 0, 0, .9);

// COLORS

$color-white: #fff;
$color-black: #000;
$color-red: rgba(255, 0, 0, .9);
$color-pink: #e65b7c;
$color-navbar-hover: rgba(235, 86, 108);
$color-header-bckgrnd: #19092d;
$color-component-title: #19092d;
$color-content-bckgrnd: #fbf9ff;
$color-primary: #19092d;
$color-primary-light: #19092d;
$color-primary-dark: #19092d;
$color-grey-dark-3: #333;

// ANIMATIONS

$animate: all 0.2s ease-in-out;



