.header-div {
    padding: 22px 15px;
    background: linear-gradient(to right, #cc392f 0, #f44336 100%) !important;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.content-background {
    background-color: #fafafa;
    // height: calc(100vh - 63px);
}